body{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}


.item{
   background-color: aqua;
}

.container{
  
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas:
    "b1 b2 b2 b3"
    "b1 b4 b5 b5";
}